div.tooltip {
    position: absolute;
    text-align: center;
    width: 90px;
    height: 20px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgb(243, 239, 22);
    border: 0px;
    border-radius: 6px;
    pointer-events: none;
  }

svg {
  background-size: cover;
}

.x-axis {
  color: black;
}

.y-axis {
  color: black;
}

.bar {
  fill: steelblue;
}

.changeColor{
  fill: #FF0000;
}